




tr, td, th{
  border: 3px solid black;
  padding: 30px;
}


#blocks{
 /* background-color: #fbf4ba;*/
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 30px;
  float:left;
}

#submit_btn{
  margin-top: 60px;
  display: block;
  float: right;
  margin-right: 700px;
}

#blocks td{
  background-color: #0f0000;
}

.clear:after{
  content: "$nbsp";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

