
tr, td, th {
   border: 3px solid black;
   padding: 30px;
}

.blocks {
   margin: 60px 0 30px 100px;
   float:left;
}

.submit_btn {
   margin: 60px 700px 0 0;
   display: block;
   float: right;
}

.blocks  td{
   background-color: #0f0000;
}

.clear:after {
   content: '$nbsp';
   display: block;
   visibility: hidden;
}

